#pagequality-sidebar {
	right: 0;
	top: 0;
	position: fixed;
	z-index: 5;
	max-width: 18em;
	background-color: #fff;
}

#pagequality-sidebar > header {
	padding: 10px;
}

#pagequality-sidebar > .inner {
	background-color: #fff;
	overflow-y: scroll;
	height: calc( 100vh - 5em );
}

#pagequality-sidebar .panel-heading {
	font-weight: bold;
}

#pagequality-sidebar .ellipsis {
	user-select: none;
}

#pagequality-sidebar .panel-body {
	padding: 0; /* Padding on padding on padding... */
}
